/* make own stylesheet and link it in the head of the html file */
.bodyTest {
    font-weight: bold;
    color: red;

}


body {
    background-color: rgb(0, 13, 255);
    font-family:'Times New Roman', Times, serif;
    border: 2px solid whitesmoke;
}

div {
    background-color: white;
    border: 10px solid black;
    font-size: large;
    padding: 20px;
    margin: 20px;
}